html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: black;
    color: white;
}

.row{
    margin: 0 auto 0 auto;
}

input{
    border: none;
    background: transparent;
    color: white;
}

.table{
    max-width: 1200px;
    color: white;
    background-color: black;
}