{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Rabialco's Website</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="{% static 'js/index.js' %}"></script>
    </head>
    <body>
        <div class="row-lg-12 text-center mt-5 mb-3">
            <h1> Search your book here!</h1>
        </div>
        <div class="row-lg-12 text-center mb-5">
            <div class="container">
                <div class="col-6 input mx-auto ml-0 px-0">
                    <input type="text" id="input" placeholder="Search for books ..." title="Type in a name">
                </div>
            </div>
        </div>
        <div class="row table-heading text-center mb-5">
            <table id="the-table" class="table table-borderless mx-auto">
                <thead>
                    <tr>
                        <th scope="col" class="table-heading text-center">No.</th>
                        <th scope="col" class="table-heading text-center">Cover</th>
                        <th scope="col" class="table-heading text-center">Title</th>
                        <th scope="col" class="table-heading text-center">Authors</th>
                        <th scope="col" class="table-heading text-center">Publisher</th>
                        <th scope="col" class="table-heading text-center">Published Date</th>
                    </tr>
                </thead>
                <tbody id="content"></tbody>
            </table>
        </div>
    </body>
</html>